@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*Elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color-green: #38af90;
  --bg-color-ligth-gray: #F0F0F0;
  --bg-color-light-pink: #DD7E92;
  --text-color-white: #fff;
  --text-color-dark-gray: #797979;
  --text-color-green: #38AF90;
  --text-color-light-pink: #DD7E92;
}

header {
  background-color: var(--bg-color-green);
  color: var(--text-color-white);
  font-size: 18px;
  height: 90px;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  display: flex;
  padding: 30px 10px;
}

nav img {
  width: 62px;
  padding: 14px 10px;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

/*Id's and Class*/
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.border-radius {
    border-radius: 8px;
}

.container-bg {
    background-color: var(--bg-color-ligth-gray);
}

#latest-news h2 {
    color: var(--text-color-dark-gray);
    font-size: 24px;
    margin: 40px 0px 8px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.title-news {
    font-size: 16px;
    color: var(--text-color-green);
    padding: 16px 12px 3px 12px;
}

.subtitle-news {
    font-size: 12px;
    color: var(--text-color-dark-gray);
    padding: 3px 12px;
}

.date-news {
    font-size: 10px;
    color: var(--text-color-green);
    padding: 7px 12px 0 12px;
}

.contents-news {
    font-size: 10px;
    color: var(--text-color-dark-gray);
    padding: 12px;
}

.more-contents {
    font-size: 14px;
    color: var(--text-color-light-pink);
    padding: 12px;
}

.load-more {
    background-color: var(--bg-color-light-pink);
    color: var(--text-color-white);
    width: 244px;
    height: 67px;
    font-size: 18px;
    margin: 28px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}